<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikitable Auto-Increment Result</title>
</head>
<body>
    <h2>Modified Wikitext</h2>
    <pre>{{ modified_wikitext }}</pre>
    <br>
    <a href="/">Go back</a>
</body>
</html>
